/* Update for dark mode */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* Apply Lora font to the body */
body {
    font-size: 20px;
    font-family: 'Lora', serif;
    background-color: #31363F; /* Default background color */
    color: #76ABAE; /* Default text color */
}

/* Apply dark mode styles */
body.dark-mode {
  background-color: #31363F; /* Dark mode background color */
  color: #69a4a8; /* Dark mode text color */
}

/* Apply light mode styles */
body.light-mode {
  background-color: #ffffff; /* Light mode background color */
  color: #31363F; /* Light mode text color */
}

/* Apply Lora font to all elements */
body, .App {
    font-family: 'Lora', serif;
}

/* Center align elements within .App */
.App {
  text-align: center;
  position: relative;
}

/* Style for dark mode toggle button */
.dark-mode-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  border: 1px solid #555;
}

.dark-mode-toggle:hover {
  background-color: #555;
}
